<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="uName" name="uName" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">单位或学校：</label>
								<div class="col-sm-8">
									<input id="uOrganization" name="uOrganization" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">性别  0男  1女：</label>
								<div class="col-sm-8">
									<input id="uGender" name="uGender" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">年级或职业：</label>
								<div class="col-sm-8">
									<input id="uGrand" name="uGrand" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">年龄：</label>
								<div class="col-sm-8">
									<input id="uAge" name="uAge" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">出生日期：</label>
								<div class="col-sm-8">
									<input id="uBirthday" name="uBirthday" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">身份证号：</label>
								<div class="col-sm-8">
									<input id="uIdcard" name="uIdcard" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input id="uPhone" name="uPhone" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">身高 单位cm：</label>
								<div class="col-sm-8">
									<input id="uHeight" name="uHeight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">体重 单位kg：</label>
								<div class="col-sm-8">
									<input id="uWeight" name="uWeight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">3D扫描数据存放目录：</label>
								<div class="col-sm-8">
									<input id="uFolder" name="uFolder" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">负责人（医生）：</label>
								<div class="col-sm-8">
									<input id="mName" name="mName" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="uUpdatedate" name="uUpdatedate" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/user/add.js">
	</script>
</body>
</html>
