<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saomiao.information.dao.UsersDao">

	<select id="get" resultType="com.saomiao.information.domain.UsersDO">
		select `u_id`,`u_name`,`u_organization`,`u_gender`,`u_grand`,`u_age`,`u_birthday`,`u_idcard`,`u_phone`,`u_height`,`u_weight`,`u_folder`,`m_name`,`u_updateDate` from t_user where u_id = #{value}
	</select>

	<select id="getFileByid" resultType="com.saomiao.information.domain.UsersDO">
		select  u_name,u_folder from t_user where u_id = #{uid}
	</select>
	
	<select id="getfileByname" resultType="com.saomiao.information.domain.UsersDO">
		select u_img,u_folder,m_name from t_user where u_name is NULL or u_name = ''
		<if test="username != null and username != ''"> and m_name = #{username} </if> 
	</select>
	
	<select id="getNameByimg" resultType="com.saomiao.information.domain.UsersDO">
		select m_name from t_user where u_img = #{uimg}
	</select>
	
	<select id="selectManById"  resultType="com.saomiao.information.domain.ManagersDO">
		select username from t_managers where m_Id = #{userId}
	</select>
	
	<!-- 导出列表 -->
	<select id="exeList" resultType="java.util.Map">
		select `u_id` as id,`u_name` as 用户名,`u_organization` as 单位或学校,`u_gender` as 性别0男1女,`u_grand` as 年级或职业 ,`u_age` as 年龄,`u_birthday` as 出生日期,`u_idcard` as 身份证号,`u_phone` as 联系电话,`u_height` as '身高(单位:cm)' , `u_weight` as '体重(单位:kg)' ,`u_folder` as 3D扫描数据存放目录 , `m_name` as 负责人（医生）,`u_updateDate` as 创建时间 from t_user

		<where>
			<if test="ids != null and ids != ''"> and s.id in (${ids}) </if>
			<if test="mname != null and mname != null">and m_name = #{mname} </if>
		</where> 
	</select>
	
	
	<select id="list" resultType="com.saomiao.information.domain.UsersDO">
		select `u_id`,`u_name`,`u_organization`,`u_gender`,`u_grand`,`u_age`,`u_birthday`,`u_idcard`,`u_phone`,`u_height`,`u_weight`,`u_folder`,`m_name`,`u_updateDate`,`u_img` from t_user
        <where>  
		  		  <if test="uid != null and uid != ''"> and u_id = #{uid} </if>
		  		  <if test="uname != null and uname != ''"> and u_name = #{uname} </if>
		  		  <if test="uorganization != null and uorganization != ''"> and u_organization = #{uorganization} </if>
		  		  <if test="ugender != null and ugender != ''"> and u_gender = #{ugender} </if>
		  		  <if test="ugrand != null and ugrand != ''"> and u_grand = #{ugrand} </if>
		  		  <if test="uage != null and uage != ''"> and u_age = #{uage} </if>
		  		  <if test="ubirthday != null and ubirthday != ''"> and u_birthday = #{ubirthday} </if>
		  		  <if test="uidcard != null and uidcard != ''"> and u_idcard = #{uidcard} </if>
		  		  <if test="uphone != null and uphone != ''"> and u_phone = #{uphone} </if>
		  		  <if test="uheight != null and uheight != ''"> and u_height = #{uheight} </if>
		  		  <if test="uweight != null and uweight != ''"> and u_weight = #{uweight} </if>
		  		  <if test="ufolder != null and ufolder != ''"> and u_folder = #{ufolder} </if>
		  		  <if test="username != null and username != ''"> and m_name = #{username} </if>
		  		  <if test="uupdatedate != null and uupdatedate != ''"> and u_updateDate = #{uupdatedate} </if>
		  		  <if test="uimg != null and uimg != ''"> and u_img= #{uimg} </if>
		  		  <if test="mname != null and mname != ''"> and m_name= #{mname} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by u_id ASC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	
	<select id="lists" resultType="com.saomiao.information.domain.UsersDO">
		select `u_id`,`u_name`,`u_organization`,`u_gender`,`u_grand`,`u_age`,`u_birthday`,`u_idcard`,`u_phone`,`u_height`,`u_weight`,`u_folder`,`m_name`,`u_updateDate` from t_user
    </select>
	
 	<select id="count" resultType="int">
		select count(*) from t_user
		 <where>  
		  		  <if test="uid != null and uid != ''"> and u_id = #{uid} </if>
		  		  <if test="uname != null and uname != ''"> and u_name = #{uname} </if>
		  		  <if test="uorganization != null and uorganization != ''"> and u_organization = #{uorganization} </if>
		  		  <if test="ugender != null and ugender != ''"> and u_gender = #{ugender} </if>
		  		  <if test="ugrand != null and ugrand != ''"> and u_grand = #{ugrand} </if>
		  		  <if test="uage != null and uage != ''"> and u_age = #{uage} </if>
		  		  <if test="ubirthday != null and ubirthday != ''"> and u_birthday = #{ubirthday} </if>
		  		  <if test="uidcard != null and uidcard != ''"> and u_idcard = #{uidcard} </if>
		  		  <if test="uphone != null and uphone != ''"> and u_phone = #{uphone} </if>
		  		  <if test="uheight != null and uheight != ''"> and u_height = #{uheight} </if>
		  		  <if test="uweight != null and uweight != ''"> and u_weight = #{uweight} </if>
		  		  <if test="ufolder != null and ufolder != ''"> and u_folder = #{ufolder} </if>
		  		  <if test="mname != null and mname != ''"> and m_name = #{mname} </if>
		  		  <if test="uupdatedate != null and uupdatedate != ''"> and u_updateDate = #{uupdatedate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.saomiao.information.domain.UsersDO" useGeneratedKeys="true" keyProperty="uid">
		insert into t_user
		(
			`u_name`, 
			`u_organization`, 
			`u_gender`, 
			`u_grand`, 
			`u_age`, 
			`u_birthday`, 
			`u_idcard`, 
			`u_phone`, 
			`u_height`, 
			`u_weight`, 
			`u_folder`, 
			`m_name`, 
			`u_updateDate`,
			`u_img`
		)
		values
		(
			#{uname}, 
			#{uorganization}, 
			#{ugender}, 
			#{ugrand}, 
			#{uage}, 
			#{ubirthday}, 
			#{uidcard}, 
			#{uphone}, 
			#{uheight}, 
			#{uweight}, 
			#{ufolder}, 
			#{mname}, 
			#{uupdatedate},
			#{uimg}
		)
	</insert>
	 
	<update id="update" parameterType="com.saomiao.information.domain.UsersDO">
		update t_user 
		<set>
			<if test="uname != null">`u_name` = #{uname}, </if>
			<if test="uorganization != null">`u_organization` = #{uorganization}, </if>
			<if test="ugender != null">`u_gender` = #{ugender}, </if>
			<if test="ugrand != null">`u_grand` = #{ugrand}, </if>
			<if test="uage != null">`u_age` = #{uage}, </if>
			<if test="ubirthday != null">`u_birthday` = #{ubirthday}, </if>
			<if test="uidcard != null">`u_idcard` = #{uidcard}, </if>
			<if test="uphone != null">`u_phone` = #{uphone}, </if>
			<if test="uheight != null">`u_height` = #{uheight}, </if>
			<if test="uweight != null">`u_weight` = #{uweight}, </if>
			<if test="ufolder != null">`u_folder` = #{ufolder}, </if>
			<if test="mname != null">`m_name` = #{mname}, </if>
			<if test="uupdatedate != null">`u_updateDate` = #{uupdatedate},</if>
			<if test="uimg != null">`u_img` = #{uimg}</if>
		</set>
		where u_id = #{uid}
	</update>
	
	<delete id="remove">
		delete from t_user where u_id = #{value}
	</delete>
	
	<delete id="removeByimg">
		delete from t_user where u_img = #{uimg} and u_name is NULL or u_name = ''
	</delete>
	
	<delete id="batchRemove">
		delete from t_user where u_id in 
		<foreach item="uid" collection="array" open="(" separator="," close=")">
			#{uid}
		</foreach>
	</delete>

</mapper>