<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saomiao.owneruser.dao.OwnerUserDao">

	<select id="get" resultType="com.saomiao.owneruser.domain.ManagersDO">
		select `m_Id`,`username`,`password`,`m_organization`,`m_duty`,`m_phone`,`m_updateDate` from t_managers where m_Id = #{value}
	</select>

	<select id="list" resultType="com.saomiao.owneruser.domain.ManagersDO">
		select `m_Id`,`username`,`password`,`m_organization`,`m_duty`,`m_phone`,`m_updateDate` from t_managers
        <where>  
		  		  <if test="mid != null and mid != ''"> and m_Id = #{mid} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="morganization != null and morganization != ''"> and m_organization = #{morganization} </if>
		  		  <if test="mduty != null and mduty != ''"> and m_duty = #{mduty} </if>
		  		  <if test="mphone != null and mphone != ''"> and m_phone = #{mphone} </if>
		  		  <if test="mupdatedate != null and mupdatedate != ''"> and m_updateDate = #{mupdatedate} </if>
		  		  <if test="munionid != null and munionid != ''"> and m_unionid = #{munionid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by m_Id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="getbyname" resultType="com.saomiao.owneruser.domain.ManagersDO">
		select m_Id,username,m_organization,m_duty,m_phone,m_updateDate,delete_flag
		from t_managers where username = #{value}
	</select>
	
	<!-- <select id="getbyunionid" resultType="com.saomiao.owneruser.domain.ManagersDO">
		select m_Id,username,m_organization,m_duty,m_phone,m_level,m_updateDate,delete_flag
		from t_managers where m_unionid = #{unionid}
	</select> -->
	
 	<select id="count" resultType="int">
		select count(*) from t_managers
		 <where>  
		  		  <if test="mid != null and mid != ''"> and m_Id = #{mid} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="morganization != null and morganization != ''"> and m_organization = #{morganization} </if>
		  		  <if test="mduty != null and mduty != ''"> and m_duty = #{mduty} </if>
		  		  <if test="mphone != null and mphone != ''"> and m_phone = #{mphone} </if>
		  		  <if test="mupdatedate != null and mupdatedate != ''"> and m_updateDate = #{mupdatedate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.saomiao.owneruser.domain.ManagersDO" useGeneratedKeys="true" keyProperty="mId">
		insert into t_managers
		(
			`username`, 
			`password`, 
			`m_organization`, 
			`m_duty`, 
			`m_phone`, 
			`m_updateDate`
		)
		values
		(
			#{username}, 
			#{password}, 
			#{morganization}, 
			#{mduty}, 
			#{mphone}, 
			#{mupdatedate}
		)
	</insert>
	 
	<update id="update" parameterType="com.saomiao.owneruser.domain.ManagersDO">
		update t_managers 
		<set>
			<if test="username != null">`username` = #{username}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="morganization != null">`m_organization` = #{morganization}, </if>
			<if test="mduty != null">`m_duty` = #{mduty}, </if>
			<if test="mphone != null">`m_phone` = #{mphone}, </if>
			<if test="mupdatedate != null">`m_updateDate` = #{mupdatedate}</if>
		</set>
		where m_Id = #{mid}
	</update>
	
	<delete id="remove">
		delete from t_managers where m_Id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_managers where m_Id in 
		<foreach item="mId" collection="array" open="(" separator="," close=")">
			#{mid}
		</foreach>
	</delete>

</mapper>